<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                @DateTime.Now.Year &copy; Sistema de Gestão de Academia
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="javascript:void(0);">Sobre o sistema</a>
                    <a href="javascript:void(0);">Ajuda</a>
                    <a href="javascript:void(0);">Contate-nos</a>
                </div>
            </div>
        </div>
    </div>
</footer>