<!DOCTYPE html>
<html lang="pt-br">
<head>
    @await Html.PartialAsync("_Head")
</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        @await Html.PartialAsync("_Header")
        <!-- end Topbar -->

        @await Html.PartialAsync("_Sidebar")

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                </div> <!-- container -->

            </div> <!-- content -->
            @await Html.PartialAsync("_Footer")

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    @await Html.PartialAsync("_Scripts")
    @RenderSection("Scripts", required: false)


</body>
</html>