@model Academia.Models.Professor

@{
    ViewData["Title"] = "Cadastro de Professores - Edição";
}

    <div class="card-box row mt-3">
        <div class="col-md-12">
            <form id="frmEdicaoProfessor">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group" hidden>
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-3">
                        <label asp-for="Salario" class="control-label"></label>
                        <input asp-for="Salario" type="number" step="0.01" class="form-control" />
                        <span asp-validation-for="Salario" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Admissao" class="control-label"></label>
                        <input asp-for="Admissao" type="date" class="form-control" />
                        <span asp-validation-for="Admissao" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Demissao" class="control-label"></label>
                        <input asp-for="Demissao" type="date" class="form-control" />
                        <span asp-validation-for="Demissao" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Turno" class="control-label"></label>
                        <select asp-for="Turno" asp-items="Html.GetEnumSelectList<Turno>()" class="form-control">
                            <option value="" disabled selected>Selecione o estado</option>
                        </select>
                        <span asp-validation-for="Turno" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-2">
                        <label asp-for="DataNascimento" class="control-label"></label>
                        <input asp-for="DataNascimento" type="date" class="form-control" />
                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" class="form-control celular" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="Sexo" class="control-label"></label>
                        <select asp-for="Sexo" asp-items="Html.GetEnumSelectList<Sexo>()" class="form-control">
                            <option value="" disabled selected>Selecione o estado</option>
                        </select>
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="Senha" class="control-label"></label>
                        <a asp-controller="Professor" asp-action="TrocarSenha" asp-route-id="@Model.Id" class="btn btn-warning btn-block">Trocar a senha</a>
                    </div>
                </div>
                <!-- Endereço -->
                <div class="form-row ">
                    <div class="form-group col-md-1">
                        <label asp-for="Endereco.Cep" class="control-label"></label>
                        <input asp-for="Endereco.Cep" class="form-control cep" />
                        <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-10">
                        <label asp-for="Endereco.Rua" class="control-label"></label>
                        <input asp-for="Endereco.Rua" class="form-control" />
                        <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Endereco.Numero" class="control-label"></label>
                        <input asp-for="Endereco.Numero" type="number" class="form-control" />
                        <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Endereco.Complemento" class="control-label"></label>
                        <input asp-for="Endereco.Complemento" class="form-control" />
                        <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Endereco.Bairro" class="control-label"></label>
                        <input asp-for="Endereco.Bairro" class="form-control" />
                        <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Endereco.Cidade" class="control-label"></label>
                        <input asp-for="Endereco.Cidade" class="form-control" />
                        <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label asp-for="Endereco.UF" class="control-label"></label>
                        <select asp-for="Endereco.UF" asp-items="Html.GetEnumSelectList<UnidadeFederativa>()" class="form-control">
                            <option value="" disabled selected>Selecione o estado</option>
                        </select>
                        <span asp-validation-for="Endereco.UF" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnEnviarRequisicao" value="Editar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-info">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

@section scripts{
    @await Html.PartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml")
}